@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

:root {
  --main-color: #383a45;
  --secondary-color: #2d2e36;
  --text-color: #8d91a6;
  --alternative-text-color: #afafaf;
  --highlight-color: #5c8df7;
  --color-success: #00b389;
  --color-error: #ea897c;

  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: inherit;
  color: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  margin: 0;
  line-height: 1;
}

#main {
  min-width: 320px;
  min-height: 100vh;
}

.main-content {
  max-width: 1920px;
  margin: 18px auto;
}

.navbar {
  display: flex;
  background-color: var(--main-color);
  flex-direction: column;
  justify-content: space-between;
  padding: 17px 30px;
}

.logo {
  font-size: 1.875rem;
  font-weight: 600;
}

.icon img {
  padding: 0;
  background: none;
}

.menu-icons {
  order: 1;
  display: none;
  gap: 1.5rem;
  justify-content: center;
}

.menu-icons a img {
  display: block;
  height: 2rem;
}

.contact-icon {
  display: block;
  margin: 0 auto;
  height: 6rem;
}

.icon {
  filter: invert(65%) sepia(16%) saturate(332%) hue-rotate(193deg)
    brightness(87%) contrast(89%);
}

.icon:hover {
  filter: invert(62%) sepia(43%) saturate(8%) hue-rotate(11deg) brightness(103%)
    contrast(93%);
}

.all-menu-items {
  display: none;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 2.75rem 0;
  align-items: center;
  gap: 1.5rem;
}

.all-menu-items.activeMenu {
  display: flex;
}

.menu-icons.activeMenu {
  display: flex;
}

.menu-item a:hover {
  color: var(--alternative-text-color);
}

.menu-item a {
  font-size: 1.5rem;
  color: var(--text-color);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3.25rem;
  height: 2.5rem;
  background-color: transparent;
  cursor: pointer;
}

.toggle-button .bar {
  height: 0.5rem;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 0.5rem;
}

.display-element {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 1.125rem;
  height: 50vh;
  padding: 0 1.5rem;
  border-radius: 0.5rem;
  color: white;
  background: url("./assets/svg/bg.svg"), #2d2e36;
  background-blend-mode: multiply;
  background-position: center;
  overflow: hidden;
}

.display-showcase h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.display-showcase h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.display-text {
  font-size: 1.25rem;
  margin-top: 3rem;
  color: var(--alternative-text-color);
  font-weight: 400;
}

.projects-heading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 2.5rem 0;
}

.projects {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 1.5rem;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  padding: 2rem 2.25rem;
  gap: 2rem;
  overflow: hidden;
}

.project-image {
  border-radius: 0.5rem;
  height: 18rem;
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 1.875rem;
  margin: 1.5rem 0;
}

.project-description {
  color: var(--text-color);
  margin: auto;
  line-height: 1.5rem;
}

.project-icons {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
}

.project-icons img {
  height: 2rem;
}

.large-display-container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 1.25rem;
}

.about-extra-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 2.5rem 0;
}

.about-extra-separator {
  border-bottom: 5px solid var(--text-color);
  width: 30%;
  max-width: 7.5vw;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.about-extra-text {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--alternative-text-color);
  font-weight: 400;
  margin: 2rem auto;
  max-width: 1200px;
}

.about-extra-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  padding: 2rem 2.25rem;
  overflow: hidden;
}

.about-gtk-desc {
  color: var(--text-color);
  line-height: 1.5rem;
}

.display-element-project {
  height: 100%;
  font-size: 2.5rem;
  font-weight: bold;
}

.project-tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1.25rem 0;
}

.about-gtk-btn {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: var(--highlight-color);
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  border: none;
  cursor: pointer;
}

.about-container-skill {
  display: flex;
  height: auto;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  padding: 2rem 2.25rem;
  overflow: hidden;
}

.semi-box-title {
  font-size: 1.75rem;
  margin: 0;
}

.about-ms-skills {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}

.skillBtn {
  padding: 0.75rem 1.5rem;
  width: fit-content;
  border-radius: 0.5rem;
  background-color: var(--highlight-color);
  font-size: 0.75rem;
  border: none;
}

.about-page-title {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
}

.about-page-description {
  font-size: 1.25rem;
  text-align: center;
  color: var(--alternative-text-color);
  line-height: 1.75rem;
  max-width: 90%;
  margin: 1.5rem auto;
}

.about-me-page-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.25rem;
  background-color: #383a45;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}

.about-me-page-container-description {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}

.skill-sets {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.skill-box-container {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  background-color: #2d2e36;
  padding: 2rem;
  overflow: hidden;
  flex: 1;
}

.skill-box-heading {
  font-size: 1.75rem;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.skill-box-separator {
  border-bottom: 1px solid var(--main-color);
  width: 100%;
  border-radius: 0.5rem;
  margin: 1.5rem auto;
}

.skill-box-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact-page-container {
  display: flex;
  flex-direction: column;
  margin: 0 1.25rem;
}

.social-section {
  display: flex;
  flex-direction: column;
}

.contact-input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--secondary-color);
  font-size: 1rem;
  margin: 0.5rem 0;
}

.contact-form-title {
  font-size: 2.5rem;
  margin: 1.25rem auto;
  font-weight: bold;
  text-align: center;
}

.contact-form-label-title {
  font-weight: bold;
  margin: 0.5rem 0;
}

.contact-input-textarea {
  height: 10rem;
  resize: none;
}

.contact-form-section {
  order: -1;
}

.contact-icon-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-page-icon {
  padding: 1.75rem 3.5rem;
  flex: 1;
}

.active {
  color: #fff !important;
}

@media (min-width: 768px) {
  .social-section {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 3rem 0;
    gap: 2rem;
  }

  .contact-form-section {
    order: 1;
  }

  .toggle-button {
    display: none;
  }

  .navbar {
    flex-direction: row;
  }

  .about-page-header {
    margin: 0 auto;
    padding: 0 1.25rem;
  }

  .menu-icons {
    display: flex;
    order: 0;
    margin-right: auto;
    margin-left: 1rem;
  }

  .all-menu-items {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .display-showcase h2 {
    font-weight: 400;
    width: 100%;
  }

  .display-text {
    font-size: 1.5rem;
    line-height: 1.875rem;
    max-width: 85%;
    margin: 3.75rem auto;
  }

  .center-set {
    margin: 0 auto;
  }

  .project {
    flex-direction: row;
  }

  .project-img {
    width: 70%;
  }

  .project-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .project-description {
    margin: 0;
  }

  .project-icons {
    margin-top: auto;
  }
  .about-extra-info {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1.25rem;
  }

  .about-container,
  .about-container-skill {
    flex: 1;
  }

  .about-page-description {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .about-me-page-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .skill-sets {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .about-gtk-btn {
    max-width: fit-content;
  }
}
